<main class=" items-center  flex justify-center ">
<div class="flex-col border-black border-4 rounded-xl p-8 shadow-2xl">
 <h1 class="font-bold text-4xl mt-8 ">typing challenge</h1>
 <div class="">
   <p class="flex  justify-center my-5 text-xl">random text</p>
   <span class="flex  justify-center" >
   <input class="form-control
   px-3
   py-1.5
   text-base
   font-normal
   text-gray-700
   bg-white bg-clip-padding
   border border-solid border-gray-300
   rounded
   transition
   w-full
   m-0
   focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" type="text">
  </span>
  <p class="font-bold text-3xl flex justify-center mt-5">sucsess!!</p> 
 </div>
</div>  
</main>